<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" charset="UTF-8" />
    <link rel="stylesheet" href="{% static "css/map.css" %}">
</head>

<body>

    <div id="googleMap" style="width:100%;height:800px;"></div>
    <div id="capture"></div>
    <script src="{% static "js/map_original.js" %}"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc7FZQ6jG2VcxnxbMNdkPFFzrUsJxq-ys&callback=getLocation"></script>

</body>

</html>

{#AIzaSyCc7FZQ6jG2VcxnxbMNdkPFFzrUsJxq-ys#}