<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rough</title>
    <link rel="stylesheet" href="{% static "css/rough.css" %}">
    <script type="text/javascript" src="{% static "js/rough.js" %}"></script>
</head>
<body>
    <video id="videoarea" controls="controls" poster="" src=""></video>

<ul id="playlist">
    <li movieurl="http://html5videoformatconverter.com/data/images/happyfit2.mp4" moviesposter="http://html5videoformatconverter.com/data/images/screen.jpg">Happy Fit</li>
    <li movieurl="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4">Sintel</li>
    <li movieurl="http://html5example.net/static/video/html5_Video_VP8.webm">Resident Evil</li>
    <li movieurl="http://www.ioncannon.net/examples/vp8-webm/big_buck_bunny_480p.webm">Big Buck Bunny</li>
</ul>


</body>
</html>